name: build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  arm-none-eabi-gcc:
    uses: ZIMO-Elektronik/.github-workflows/.github/workflows/arm-none-eabi-gcc.yml@v0.2.1
    with:
      arch: -mcpu=cortex-m7
      target: DCCStm32Decoder DCCStm32CommandStation

  emscripten:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.18
      - run: |
          emcmake cmake --preset "Release"
          cmake --build build --target DCCypher

  esp-elf-gcc:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        esp_idf_version: [latest, v5.5.2, v5.4.3, v5.3.4, v5.2.6, v5.1.6]
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - uses: espressif/esp-idf-ci-action@v1.2.0
        with:
          path: examples/esp32
          esp_idf_version: ${{ matrix.esp_idf_version }}
          target: esp32

  x86_64-linux-gnu-gcc:
    uses: ZIMO-Elektronik/.github-workflows/.github/workflows/x86_64-linux-gnu-gcc.yml@v0.2.1
    with:
      pre-build: |
        sudo apt update -y
        sudo apt install -y '^libxcb.*-dev' libglu1-mesa-dev libx11-xcb-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev libxrender-dev
