name: docs

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  emscripten:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.19
      - run: |
          emcmake cmake --preset "Release"
          cmake --build build --target DCCypher
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/examples/cypher
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
